{{#if error}}
  <div class="alert alert-danger">{{error}}</div>
{{/if}}

{{#if success}}
  <div class="alert alert-success">{{success}}</div>
{{/if}}

{{#if errors}}
  {{#each errors}}
    <div class="alert alert-danger">{{this}}</div>
  {{/each}}
{{/if}}

{{#if success_msg}}
  <div class="alert alert-success">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
  <div class="alert alert-danger">{{error_msg}}</div>
{{/if}}